* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #8e9ca3;
	color: #c7bd3a;
    font-family: 'Parkavenue', cursive;
}


.portada {
	width: 100%;
	background: #8e9ca3;

	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

.portada.oculta {
	transform: translateY(100%);
}

.portada .header {
	margin-bottom: 100px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.portada .header{
	font-size: 40px;
	font-size: 500;
	margin-bottom: 20px;
	margin-top: 20px;
}


main {
	max-width: 1000px;
	margin: auto;
	width: 90%;
	padding: 60px 0;
	font-size: 18px;
	line-height: 28px;
	text-align: left;
}


#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.simply-section {
	background-image: url("../img/fondoestrella.jfif");
	width: 180px;
	height: 180px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 50px;
}

.simply-word {
	font-weight: 300;
	font-size: 30px;
}

.contenedor {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 600px) {
	.portada {
		width: 100%;
		background: #8e9ca3;
	
		min-height: 100%;
		position: fixed;
		margin-top: auto;
	
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		transition: .5s ease-out all;
	}
	.simply-section {
		background-image: url("../img/fondoestrella.jfif");
		width: 180px;
		height: 180px;
		margin: 10px;
		border-radius: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.añonuevo {
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 60%;
	}
}
